/* temp background color */
  body {
      background: rgb(29, 29, 29);
  }
    
  /* vertical and horizontal centering */
  body {
    display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background: #f5f5f5;
  }

  /* SVG Styling */